<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>797803622682-hlscmpva83gafocq1qdpqcsbrepgqsa8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.797803622682-hlscmpva83gafocq1qdpqcsbrepgqsa8</string>
	<key>API_KEY</key>
	<string>AIzaSyCyE_pHyrRSg3-4Egr5kV6pwNeWtVf-g5Y</string>
	<key>GCM_SENDER_ID</key>
	<string>797803622682</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.medide</string>
	<key>PROJECT_ID</key>
	<string>medide-e34b4</string>
	<key>STORAGE_BUCKET</key>
	<string>medide-e34b4.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:797803622682:ios:bc52f41580801029277ca3</string>
</dict>
</plist>